<div class="row">
  <div class="small-12 medium-6 medium-centered large-4 large-centered columns">
    <h1>Just Ask App</h1>
    <h3>The only website made entirely by user suggestions.</h3>
    <div class="panel callout">
      <%= form_for(@suggestion) do |f| %>
        <div class="row">
          <div class="large-12 columns">
          <%- flash.each do |key, msg| -%>
            <div id="<%= key %>">
              <p><%= msg %></p>
              <div class="clear"></div>
            </div>
          <%- end -%>
            <div class="row">
              <div class="large-12 columns">
                <%= f.label "Please make a suggestion:" %>
                <h5><small>*Between 4-10 words</small></h5>
                <%= f.text_area :content, placeholder: 'What should I do with this website?' %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= f.submit "Submit", class: 'button primary block' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% unless @suggestions.any? %>
    <h5>There are no suggestions. Be the first to add one.</h5>
    <% else %>
      <table id='suggestions-table'>
        <thead>
          <tr>
            <th><%= pluralize(@suggestions.count, 'suggestion') %>:</th>
          </tr>
        </thead>
        <tbody>
        <% @suggestions.each do |s| %>
          <tr>
            <td><%= s.content %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
